* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: rgb(35, 39, 45);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  gap:2rem;
}

nav {
  float: right;
  padding: 3rem;
}

li {
  display: inline;
  float: right;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  margin-left: 1rem;
}

a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(45, 230, 156);
}

#contact {
  background-color: white;
  color: rgb(35, 39, 45);
  float: right;
}

#contact:hover {
  background-color: rgb(45, 230, 156);
}

header {
  min-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:3rem;
}

#picture-and-name {
  max-width: 80rem;
  min-height: fit-content;
  display: flex;
  gap: 5rem;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  flex-direction: row;
}

#main-picture {
  width:24vw;
}

#main-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

#name {
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 6rem;
  font-weight: 500;
  line-height: 6rem;
}

#description {
  color: grey;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

#download-cv {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(45, 230, 156);
  color: rgb(35, 39, 45);
  max-width: fit-content;
  margin-top: 1rem;
}

#download-cv:hover {
  background-color: white;
}

#about-me-area {
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#about-me-container {
  min-height: 40rem;
  display: flex;
  gap: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  color: white;
  line-height: 4rem;
  text-align: left;
  font-weight: 500;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 500;
}

#about-me-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40rem;
}

#about-me-text-left {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  text-align: left;
  max-width: 40rem;
}

#about-me-right {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  max-width: 60rem;
}

#description {
  color: white;
  font-size: 1.5rem;
}

#bar-container {
  width: 60rem;
  height: 4rem;
  display: flex;
  align-items: center;
  order: 4;
}

#green-bar {
  width: 60rem;
  height: 0.5rem;
  background-color: rgb(45, 230, 156);
}

#linked-in {
  background-color: rgb(45, 230, 156);
  color: rgb(35, 39, 45);
  font-family: "Courier New", Courier, monospace;
  max-width: fit-content;
  font-size: 2rem;
}

#linked-in:hover {
  background-color: white;
}

#portfolio-area {
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#portfolio-container {
  min-height: 40rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

#mock-up-image {
  max-width: 40rem;
}

#portfolio-left {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}

#portfolio-left-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
}

#barbershop-app-image {
  max-width: 40rem;
}

#contact-me {
  height: 40rem;
  max-width: 100%;
}

span {
  color: grey;
  font-size: 2.4rem;
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  #picture-and-name {
    gap: 2rem;
    flex-direction: column;
    width: 100rem;
    padding-left: 0rem;
    padding-left: 0rem;
  }

  #main-picture {
    width:60vw;
  }

  #main-details {
    justify-content: left;
    max-width:100%;
  }

  div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  li {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  #about-me-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #bar-container {
    width: 100%;
  }

  #green-bar {
    width: 100%;
  }

  #portfolio-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
  }

  #portfolio-left {
    align-items: center;
  }

  #barbershop-app-image {
    max-width: 80%;
  }

  #mock-up-image {
    max-width: 80%;
  }

  h3 {
    padding: 3rem;
  }

  #description {
    text-align: left;
  }

  #about-me-right {
    gap: 0rem;
  }

  #linked-in {
    margin: 3rem 3rem 3rem 0rem;
  }

  span {
    color: grey;
    font-size: 2rem;

  }

  
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #picture-and-name {
    gap: 3rem;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #main-picture {
    width:30vw;
  }

  div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  li {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  #about-me-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #bar-container {
    width: 100%;
  }

  #green-bar {
    width: 100%;
  }

  #portfolio-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
    justify-content: center;
    align-items: center;
   
  }

  #portfolio-left {
    align-items: center;
    text-align: center;
  }

  #barbershop-app-image {
    max-width: 60%;
  }

  #mock-up-image {
    max-width: 70%;
  }

  h3 {
    padding: 3rem;
  }

  #description {
    text-align: left;
  }

  #about-me-right {
    gap: 0rem;
  }

  #linked-in {
    margin: 3rem 3rem 3rem 0rem;
  }

  span {
    color: grey;
    font-size: 2rem;

  }
  
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #picture-and-name {
    min-height: fit-content;
    gap: 3rem;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #main-picture {
    width:30vw;
  }

  div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  li {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  #about-me-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #bar-container {
    width: 100%;
  }

  #green-bar {
    width: 100%;
  }

  #portfolio-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
    justify-content: center;
    align-items: center;
   
  }

  #portfolio-left {
    align-items: center;
    text-align: center;
  }

  #barbershop-app-image {
    max-width: 60%;
  }

  #mock-up-image {
    max-width: 50%;
  }

  h3 {
    padding: 3rem;
  }

  #description {
    text-align: left;
  }

  #about-me-right {
    gap: 0rem;
  }

  #linked-in {
    margin: 3rem 3rem 3rem 0rem;
  }

  span {
    color: grey;
    font-size: 2rem;

  }
  
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  #picture-and-name {
    min-height: fit-content;
    gap: 3rem;
    flex-direction: row;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #main-picture {
    width:30vw;
  }

  div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  li {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  #about-me-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #bar-container {
    width: 100%;
  }

  #green-bar {
    width: 100%;
  }

  #portfolio-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
    justify-content: center;
    align-items: center;
   
  }

  #portfolio-left {
    align-items: center;
    text-align: center;
  }

  #barbershop-app-image {
    max-width: 60%;
  }

  #mock-up-image {
    max-width: 50%;
  }

  h3 {
    padding: 3rem;
  }

  #description {
    text-align: left;
  }

  #about-me-right {
    gap: 0rem;
  }

  #linked-in {
    margin: 3rem 3rem 3rem 0rem;
  }

  span {
    color: grey;
    font-size: 2rem;

  }
  
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #picture-and-name {
    min-height: fit-content;
    gap: 3rem;
    flex-direction: row;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  #main-picture {
    width:20vw;
  }

  div {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  li {
    font-size: 1.2rem;
    margin-left: 0rem;
  }

  #about-me-container {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #bar-container {
    width: 100%;
  }

  #green-bar {
    width: 100%;
  }

  #portfolio-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 0rem;
    justify-content: center;
    align-items: center;
   
  }

  #portfolio-left {
    align-items: center;
    text-align: center;
  }

  #barbershop-app-image {
    max-width: 60%;
  }

  #mock-up-image {
    max-width: 40%;
  }

  h3 {
    padding: 3rem;
  }

  #description {
    text-align: left;
  }

  #about-me-right {
    gap: 0rem;
  }

  #linked-in {
    margin: 3rem 3rem 3rem 0rem;
  }

  span {
    color: grey;
    font-size: 2rem;

  }
  
}

@media only screen and (min-width: 1200px) {
  #main-picture {
    width:20vw;
  }

}

@media only screen and (min-width: 1600px) {
  #main-picture {
    width:14vw;
  }

}

/* padding:3rem */ /*needs to be changed to about me as it's effecting the rest of the page /*
  }

  header {
    min-height: 60rem;
  }
  
  body {
    gap:4rem; // needs changing as it's effecting the nav bar
  }

  /* linked-in needs changing to button*/

/*green bar needs moving to bottom of sections or to be removed completley*/
